spring.jpa.show-sql=true

spring.jpa.open-in-view=true

spring.jpa.hibernate.ddl-auto=create
server.port=8080
spring.jpa.database=POSTGRESQL
spring.datasource.platform=postgres
#spring.datasource.url=jdbc:postgresql://ec2-46-137-124-19.eu-west-1.compute.amazonaws.com/dakth0pfgh4og3

#spring.datasource.username=dukwopkrtcoqre
#spring.datasource.password=aa5b8cb9a885b699dfeae8d4e4647fee8df4a2caaf2df48cef739c8afe05e92b

spring.datasource.url=${SPRING_DATASOURCE_URL}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}

spring.jpa.show-sql=true
spring.jpa.generate-ddl=true
spring.datasource.initialization-mode=always

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.data.rest.basePath=/api
