<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Arvostelut</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>
    ul {
 	 list-style-type: none;
 	 margin: 20px;
 	 overflow: hidden;
 	 background-color: lightyellow;
}
li {
  	float: left;
  	margin: 5px;
  	background-color: lightyellow;
}
h1, h2, h3, h6, p, a, input {
	font-family: monospace;
	font-style: normal;
	font-variant: normal;
}
h1, h2, h6 {
	text-align: center;
}
h1 {
	background-color: gray;
	position: sticky;
	top: 0;
}
form {
	background-color: gray;
	position: sticky;
	top: 2em;
	margin: 20px;
}
footer {
	text-align: right;
}
</style>
</head>
<body>
	<h1>Olut-arvostelut</h1>
    <table class="table table-striped"> 
		<tr>
		    <th>nimi</th>
		    <th>kuvaus</th>
		    <th>arvosana</th>

		        <th>Category</th>
		        </div>
	<div class="col-md-4">
		   <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
		   <form th:action="@{/logout}" method="post" >
		   			<input type="submit" value="Sign Out"
		   			class="btn btn-warning"/>
		   			</form>

		   			
		   			<br></br>
		    <th></th>
		    
		</tr>  
    	<tr th:each = "arvostelu : ${arvostelut}">
    		<td th:text="${arvostelu.name}"></td> 
    		<td th:text="${arvostelu.description}"></td>
    		<td th:text="${arvostelu.score}"></td>  		
    	
    		 <td th:text="${arvostelu.category.name}"></td> 


			
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${arvostelu.id})}"  class="btn btn-danger">Delete</a></td>    		
    		<td><a th:href="@{/modify/{id}(id=${arvostelu.id})}"  class="btn btn-warning">Modify</a></td>    
    	</tr>
     </table> 	
     <a href="/add" class="btn btn-success">Lisaa arvostelu</a>
</body>
</html>